@model IEnumerable<TestingAppQa.Models.Scope>

<div class="content">
    <div class="d-flex justify-content-between">
        <!-- Animated -->
        <h3 class="text-secondary">Alcances</h3>

        <a onclick="showInPopup('@Url.Action("Create", "Scopes", null,Context.Request.Scheme)', 'Nuevo Alcance')" class="btn btn-danger text-white"><i class="fa fa-plus"></i>Nuevo Alcance</a>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body ">


                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">Nombre del Modulo</th>
                                    <th class="avatar">Objetivo de la prueba</th>
                                    <th>Consideraciones</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="serial">@Html.DisplayFor(modelItem => item.NameModule)</td>
                                        <td class="serial">@Html.DisplayFor(modelItem => item.TestGoal)</td>
                                        <td class="serial">@Html.DisplayFor(modelItem => item.Considerations)</td>

                                        <td class="serial">
                                            <a>
                                                <i class="fa fa-pencil" onclick="showInPopup('@Url.Action("Edit","Scopes",new {id=item.IdScope},Context.Request.Scheme)','Modificar Informacion General Del Alcance')" class="fa fa-pencil p-2">
                                                </i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.IdScope"><i class="fa fa-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/modales/modales.js"></script> }