
@model IEnumerable<TestingAppQa.Models.Tools>

        <div class="content">
            <div class="d-flex justify-content-between">
            <!-- Animated -->
            <h3 class="text-secondary">Seleccion de herramientas</h3> 

              <a onclick="showInPopup('@Url.Action("Create", "Tools", null,Context.Request.Scheme)', 'Herramienta Nueva')" class="btn btn-danger text-white"><i class="fa fa-plus"></i>Nueva Herramienta</a>  
               
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body ">
                            
                           
                             <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">Nombre de la Herramienta</th>
                                            <th class="avatar">Version</th>
                                            <th>Especificacion de uso</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                                @foreach (var item in Model)
    {
                                        <tr>

                                            <td class="serial">@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td class="serial">@Html.DisplayFor(modelItem => item.Version)</td>
                                            <td class="serial">@Html.DisplayFor(modelItem => item.Specification)</td>
                                            <td class="serial">
                                                <a>  
                                                <i class="fa fa-pencil"  onclick="showInPopup('@Url.Action("Edit","Tools",new {id=item.IdTool},Context.Request.Scheme)','Modificar Informacion General De la herramienta')" class="fa fa-pencil p-2">
                                                </i></a>
                                            <a asp-action="Delete" asp-route-id="@item.IdTool"><i class="fa fa-trash"></i></a> 
                                                
                                            </td>
                                        </tr>
    }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div><!-- /# column -->
                

            </div>
            <!-- .animated -->
        </div>
@section scripts{
    <script src="~/js/modales/modales.js"></script> }
