@model TestingAppQa.Models.ConsolidationReport

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ConsolidationReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoReporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoReporte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTimeOut">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
