@model IEnumerable<TestingAppQa.Models.ConsolidationReportVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn">

    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Reporte de hallazgos </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">ANALISTA</th>
                                        <th class="avatar">HU</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>FECHA DE REPORTE</th>
                                        <th>FECHA DE SOLUCIÓN</th>
                                        <th>DESARROLLADOR</th>
                                        <th>ESTADO DE TAREA</th>
                                        <th>ESTADO DE REPORTE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    { 
                                    <tr>
                                        <td class="serial">@Html.DisplayFor(modelItem => item.Analista.Name)<i onclick="showInPopup('@Url.Action("Email","ConsolidationReports",new {email=item.Analista.Email,hu = item.HU.Title},Context.Request.Scheme)', `Contactar A: @item.Analista.Name.`)" class="menu-icon ti-email"></i></td>
                                        <td class="avatar">
                                            <p>@Html.DisplayFor(modelItem => item.HU.Title)</p>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Descripcion) </td>
                                            <td> <span class="name">@Html.DisplayFor(modelItem => item.FechaReporte)</span> </td>
                                        <td> <span class="product">@Html.DisplayFor(modelItem => item.FechaSolucion)</span> </td>
                                        <td>
                                            @*comboboxDesarrolladores*@
                                            <select id="@item.selectedId" onchange="showInPopupdesarrolladores('@Url.Action("AssignDeveloperConfirm","ConsolidationReports",new {idtask = item.Id},Context.Request.Scheme)', '',@item.Id.ToString())" asp-for="@item.IdDesarrollador" asp-items="@item.Desarrolladores">
                                                <option value="0">Selecciona un desarrollador</option>
                                            </select> <i onclick="showInPopup('@Url.Action("Email","ConsolidationReports",new {idtask=item.Id,hu = item.HU.Title},Context.Request.Scheme)', `Contactar A: desarrollador`)" class="menu-icon ti-email"></i>
                                            @*comboboxDesarrolladores*@
                                        </td>
                                        @if (item.EstadoTarea == "NOEXITOSO")
                                        {
                                            <td>
                                                <span class="badge badge-info" onclick="showInPopup('@Url.Action("ActualizarEstadoExistoso", "ConsolidationReports", new { id = item.Id }, Context.Request.Scheme)','Pasar la tarea a estado exitoso')">@item.EstadoTarea  </span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-complete">@item.EstadoTarea</span>
                                            </td>
                                        }
                                    <td>
                                        <select id="@item.Id" onchange="showInPopuptres('@Url.Action("EstadoReporte","ConsolidationReports",new {idtask = item.Id},Context.Request.Scheme)', '',@item.Id.ToString())" asp-for="@item.EstadoReporte">
                                            <option value="0">estado</option>
                                            <option value="SOLUCIONADO" >Solucionado</option>
                                            <option value="PENDIENTE" >Pendiente</option>
                                            <option value="ANULADO" >Anulado</option>
                                        </select>
                                    </td>
                                    </tr>
                                    }
                                    </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div> <!-- /.col-lg-8 -->


        </div>
    </div>
    <!-- /.orders -->

</div>
<script>

    getValue = (url, title) => {
        let sel = document.getElementById('ddlViewBy');
        choi = sel.options[sel.selectedIndex].value;
        console.log(choi)
        let data = { iddeveloper= choi, idtask = parameter1 }
        $.ajax({
            type: 'GET',
            url: @Url.Action("AssignDeveloperConfirm","ConsolidationReports") + data;
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
                // to make popup draggable
                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            }
        })
    }
</script>
